Canopy==1.0.1.dev4894
CanopyApp-addon==1.0.1.1189
CanopyTraining-addon==0.5.489
CanopyTrainingCreator==0.5.dev1179
Examples==7.3
Fabric==1.7.0
Jinja2==2.6
MKL==10.3
MySQL-python==1.2.4b4
PIL==1.1.7
PyOpenGL==3.0.2a5
PySide==1.1.1
PyYAML==3.10
Pygments==1.4
PythonCard==0.8.2
PythonDoc==2.7.3
Qt==4.8.2
Sphinx==1.2b1
appinst==2.1.2
apptools==4.2.0.dev1605
boto==2.6.0
casuarius==1.0.dev23
-e git+https://github.com/mik854e/chaco.git@d9a0fabd1a9d0b0bd35a7f743d3f973af4e0ab1f#egg=chaco-master
cloud==2.4.6
configobj==4.7.2
coverage==3.5.2
## FIXME: could not find svn URL in dependency_links for this package:
diffpy.pdfgetx-u==0.2-r2118-20130620
## FIXME: could not find svn URL in dependency_links for this package:
diffpy.pdflive==0.1.dev-r2427-20130620
## FIXME: could not find svn URL in dependency_links for this package:
diffpy.srxplanar==0.2.dev-r2423-20130620
distribute==0.6.28
docutils==0.8.1
enable==4.2.1.dev989
enaml==0.2.1
encore==0.3
enstaller==4.6.1
envisage==4.3.0
esky==0.9.2.dev473
etsproxy==0.1.2.dev84
fabio==0.1.2
feedparser==5.1.1
freetype==2.4.4
idle==2.7.3
ipython==1.0.dev9051
jsonpickle==0.4.0
kernmagic==0.2.0
keyring==0.9.2
libjpeg==7.0
libpng==1.2.40
matplotlib==1.2.0
mock==0.7.2
nose==1.2.1
numpy==1.6.1
pandas==0.11.0
paramiko==1.11.0
ply==3.4
psutil==0.4.1
pyFAI==0.8.0
pyaudio==0.2.4
pycrypto==2.6
pyface==4.3.0
pyflakes==0.4.5.dev80
pyglet==1.1.4
pygubu==0.8
python-dateutil==1.5
pytz==2011n
pyzmq==2.2.0
requests==0.14.2
scipy==0.12.0
supplement==0.5dev.dev202
sympy==0.7.2
tornado==2.2
traits==4.3.0
traitsui==4.3.0
virtualenv==1.10.1
wsgiref==0.1.2
wxPython==2.8.10.1
zeromq==3.2.0
